@import '../variables';

button, .button {
	@include centering;
	@include border-radius;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-weight: var(--font-bold-weight);
	padding: $button-paddings;
	border: 0;
	outline: 0;
	font-size: var(--p-size);
	transition: .5s;

	&.small {
		padding: 8px 40px;
	}

	&.primary {
	  color: #fff;
	  background: var(--primary-color);
	}

	&[disabled] {
		opacity: .75;
	}

	&:hover:not([disabled]) {
		background: darken(map-get($palette, primary), 10%)
	}
}

button.white,
.button.white {
	align-items: center;
	background: #fff;
	color: var(--primary-color);
	display: flex;
	justify-content: center;

	img {
		margin: .5em;
	}

	&:hover {
		background: darken(#fff, 10%);
	}

	&.alert {
		color: var(--alert-color);
	}

	&.alert:hover:not([disabled]) {
		color: darken(map-get($palette, alert), 10%);
	}
}
