@import '../../styles/variables';

#recipes {
	width: 100%;

	.list {
		width: 50%;
	}

	.container {
		justify-content: initial;
	}

	h3 {
		margin-top: 1rem;
	}
}

@media screen and (max-width: #{map-get($viewports, sm)}) {
	#recipes {
		.list {
			width: calc(100% + 30px);
			margin-left: -15px;

			.item {
				padding: 15px;
			}
		}
	}
}
