@import '../../../../styles/mixins';
@import '../../../../styles/variables';

header {
	align-items: center;
	background: var(--primary-color);
	display: flex;
	height: 84px;

	span, p {
		color: #fff;
	}

}

.container {
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
}

img.white {
	filter: brightness(0) invert(1);
}

ul {
	@include flex-center;
	list-style: none;
	margin: 0;
	padding: 0;

	li, a {
		@include flex-center;
	}

	li {
		color: #fff;
		padding: 0 1.3rem;

		& > div {
			@include flex-center;
		}

		&:first-of-type {
			padding-left: 0;
		}

		&:last-of-type {
			padding-right: 0;
		}

		img {
			margin-right: .8em;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	.logo {
		display: none;
	}
}

.logout {
	cursor: pointer;
}

@media screen and (max-width: #{map-get($viewports, sm)}) {
	header {
		height: 66px;

		.logo {
			display: block;
			margin-left: var(--mobile-padding);
		}

		.left-nav li:not(.logo) {
			display: none;
		}

		.right-nav li span {
			display: none;
		}
	}
}
