@import '../../../styles/variables';

main #panel {
	background: white;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	height: auto;
	margin: 0 auto;
	padding: 2em;
	position: relative;
	text-align: left;
}

small.version {
	text-align: center;
	padding: 15px auto;
	color: #aaaaaa;
	font-weight: 200;
}

@media screen and (max-width: #{map-get($viewports, sm)}) {
	main #panel {
		padding: var(--mobile-padding);
		padding-bottom: 2rem;
		padding-top: 70px;
	}
}
